/*
Este es el orden de generar estilos esta es una buena practica
1) Es tilos en relacion a posicionamiento
2) Modelo de caja
3) Tipografia
4) Temas Visuales
5) Otro miselanea
*/
:root{
  /* creacion de variables colores*/
  --bitcoin-orange:#F7931A;
  --soft-orange:#FFE9D5;
  --secondary-blue:#1A9AF7;
  --soft-blue:#E7F5FF;
  --warm-black:#201E1C;
  --black:#282623;
  --grey:#BABABA;
  --off-white:#FAF8F7;
  --just-white:#fff;
  
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}
html{
  font-size: 62.5%;
  font-family:'DM Sans', sans-serif;
}